[net] #[net]主要记载了，测试和训练的参数
# Testing  
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=8 #把batch分组输入减少内存压力，colab上应该不用顾虑。

width=416     #默认大小416*416, 3通道 -> (3 416 416)
height=416
channels=3
momentum=0.9
decay=0.0005
angle=180  #-180-180   #图片随机旋转多少(-度 ~ +度)，数据增强
saturation = 1.5    
exposure = 1.5
hue=.1

learning_rate=0.05  #0.001
burn_in=1000  #在迭代次数小于burn_in时，其学习率的更新有一种方式，大于burn_in时，才采用policy的更新方式
max_batches = 205000   #500200
policy=steps
#steps=100,1000,1500,2000, 10000, 15000   # 400000-450000 在多少迭代后，进行learning rate 缩放scales因子
steps=1000,3000,7000#, 12000 
scales=.1,.5,.5, #.5#, .1

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=1

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

###########

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=21
activation=linear



[yolo]
mask = 3,4,5
anchors = 10,14,  23,27,  37,58,  81,82,  135,169,  344,319
classes=2
num=6        # 6 box for a grid cell一个格子预测几个回归框，这一层是3,4,5这三个框
jitter=.3     # RGB转成HSV然后，三个值进行5%-10%的随机增减然后变回RGB
ignore_thresh = .6   # 0.7参与计算的IOU最低值
truth_thresh = 1
random=1

[route]  #跨连接层
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 8

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=21
activation=linear

[yolo]
mask = 0,1,2
anchors = 10,14,  23,27,  37,58,  81,82,  135,169,  344,319
classes=2
num=6
jitter=.3
ignore_thresh = .6
truth_thresh = 1
random=1
